ul{
    @apply w-2/3 m-auto border-2 border-red-200 rounded-md p-2 mb-4
}

ul > li{
    @apply w-auto border-b-2 flex items-center justify-between last:border-0
}

ul > li > button{
    @apply bg-gray-300 my-1 p-1 px-2
}